
.header {
    width: 100%;
    background-color: rgb(175, 98, 5);
    .navbar {
        height: 70px;
      
        display: flex;
        align-items: center;
        li {
            margin-left: 20px;
            font-size: 20px;
            .link {
                transition: 0.2s;
                color: white;
                &:hover {
                    color: rgb(87, 49, 3);
                    cursor: pointer;
                }
            }
           
        }
    }
}