

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    user-select: none;
    text-decoration: none;
}

body {
    background-color: rgb(191, 216, 216);
}

.container {

    width: 80%;
    border: 1px solid black;
    margin: auto;
}